@using Dedup.Extensions
@using Dedup.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - DeDup</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/dedupicon.png" type="image/png" />
    <link rel="shortcut icon" href="~/dedupicon.png" type="image/png" />

    <!--begin::Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <link rel="stylesheet" href="~/css/sitebundle.min.css" />
    <style type="text/css">
        [id$='error'] {
            color: red;
        }

        .screenMask {
            margin: 0px;
            padding: 0px;
            position: fixed;
            right: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 300001;
            opacity: 0.5;
            filter: alpha(opacity=70);
            display: none;
        }
    </style>
    @RenderSection("styles", required: false)
    @*@Html.ApplicationInsightsJavaScript(TelemetryConfiguration)*@
</head>
<body class="kt-page--loading-enabled kt-page--loading kt-page--fixed kt-header--fixed kt-header--minimize-topbar kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">
    <!-- begin::Page loader -->
    <!-- end::Page Loader -->
    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img style="height:35px;width:35px" src="~/assets/media/logos/dedupe.png" alt="Logo" />
                <h3 style="margin-top:.5rem">DeDup</h3>
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more-1"></i></button>
        </div>
    </div>

    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper " id="kt_wrapper">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " data-ktheader-minimize="on">
                    <div class="kt-header__top" style="background-color:#f9f9fc;">
                        <div class="kt-container">
                            <!-- begin:: Brand -->
                            <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
                                <div class="kt-header__brand-logo">
                                    @*<a asp-area="" asp-controller="Home" asp-action="Index">*@
                                        <img style="height:35px;width:35px" src="~/assets/media/logos/dedupe.png" alt="Logo" />
                                    @*</a>*@
                                </div>
                                @*<h3 style="margin-top:.5rem;cursor:pointer;" onclick="return location.href = '/';">DeDup</h3>*@
                                <h3 style="margin-top:.5rem;cursor:pointer;">DeDup</h3>

                            </div>
                            <!-- end:: Brand -->
                            <!-- begin:: Header Topbar -->
                            <div class="kt-header__topbar">
                                <!--begin: User bar -->
                                <div class="kt-header__topbar-item kt-header__topbar-item--user">
                                    @*<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px" aria-expanded="false">*@
                                        @*@await Component.InvokeAsync("Account")*@
                                        @*<a href="#" class="">*@
                                            @*<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">*@
                                            <span class="hidden-xs">@Context.GetClaimValue(Constants.HEROKU_MAIN_APP_NAME)</span>
                                        @*</a>*@
                                    @*</div>*@
                                </div>
                                <!--end: User bar -->
                            </div>

                            <!-- end:: Header Topbar -->
                        </div>
                    </div>
                    <div class="kt-header__bottom" id="dedup_header_menu">
                        <div class="kt-container">
                            <!-- begin: Header Menu -->
                            <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                            <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                                <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
                                    <ul class="kt-menu__nav ">
                                        <li class="kt-menu__item  kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Administration</span></a>
                                            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item" aria-haspopup="true"><a asp-area="" asp-controller="home" asp-action="index" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Dedup Process List</span></a></li>
                                                    <li class="kt-menu__item " aria-haspopup="true"><a href="/connector/index/" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">New DeDup Process</span></a></li>
                                                    @*<li class="kt-menu__item " aria-haspopup="true"><a href="/connector/schedule/" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Schedules &amp; Timers</span></a></li>*@
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Add-On Settings</span></a>
                                            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                <ul class="kt-menu__subnav">
                                                    @if (ViewBag.CurrentPlan.IsInitialized)
                                                    {
                                                        <li class="@(ViewBag.CurrentPlan.is_postgresql ? " " : " kt-radio--disabled") kt-menu__item" aria-haspopup="true">
                                                            <a asp-area="" asp-controller="config" asp-action="dbconfig" class="kt-menu__link @(ViewBag.CurrentPlan.is_postgresql ? " " : " kt-radio--disabled")">
                                                                <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                                                    <span></span>
                                                                </i>
                                                                <span class="kt-menu__link-text">Database Configuration</span>
                                                            </a>
                                                        </li>
                                                    }
                                                    <li class="kt-menu__item " aria-haspopup="true"><a asp-area="" asp-controller="config" asp-action="appconfig" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Heroku App Configuration</span><span class="kt-menu__link-badge"></span></a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Reports &amp; Statistics</span></a>
                                            <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true"><a asp-area="" asp-controller="report" asp-action="connectorlogs" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">DeDup Logs</span></a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end: Header Menu -->
                        </div>
                    </div>
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
                        <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
                            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                                <!-- begin:: Content Head -->
                                <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                                    <div class="kt-subheader__main">
                                        <h3 class="kt-subheader__title">
                                            @if (ViewBag.Title != null)
                                            {
                                                @ViewBag.Title
                                            }
                                        </h3>
                                    </div>
                                    <div class="action-box-tools">
                                    </div>
                                </div>
                                <!-- end:: Content Head -->
                                <!-- begin:: Content -->
                                <div class="kt-content kt-grid__item kt-grid__item--fluid">
                                    <div class="kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
                                        @RenderBody()
                                    </div>
                                </div>
                                <!-- end:: Content -->
                            </div>
                        </div>
                    </div>
                    <!-- begin:: Footer -->
                    <div id="divMask" class="screenMask">
                        <p style="position: fixed;left:50%;top:50%;">
                            <img src="~/images/ajax-loader.gif" alt="Loading..." style="z-index:40000;" />
                        </p>
                    </div>
                </div>
                <div class="kt-footer  kt-footer--extended  kt-grid__item" id="kt_footer">
                    <div class="kt-footer__bottom">
                        <div class="kt-container">
                            <div class="kt-footer__wrapper">
                                <div class="row" style="width:100%;">
                                    <div class="col-md-3">
                                        <div class="kt-footer__logo">
                                            <div class="kt-footer__copyright">
                                                @*<b>Version</b> Beta*@
                                                <b>Version</b> 1.1.0
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="kt-footer__menu" style="justify-content:unset !important">
                                            <strong>Copyright © @(DateTime.Now.Year - 1) - @DateTime.Now.Year<a href="http://softtrends.com" style="margin-left: 0.5rem !important;">Softtrends LLC</a>.</strong>&nbsp;All rights reserved.
                                            @*<strong><a href="https://www-softtrendsllc.herokuapp.com/termsofuse-dedup" target="_blank" style="margin-left: 0.5rem !important;">Terms of use</a>.</strong>*@
                                            <strong><a href="https://dedup.softtrends.com/terms-of-use" target="_blank" style="margin-left: 0.5rem !important;">Terms of use</a>.</strong>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <div name="dialogMessage" data-tagfor="dialog" title="Information" style="display:none;">
        <p>
            <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        </p>
    </div>
    <!--Confirm dialog-->
    <div name="dialogConfirm" data-tagfor="dialog" title="Confirmation" style="display:none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        </p>
    </div>

    <script src="~/js/sitebundle.min.js" type="text/javascript"></script>
    @*<script src="~/assets/demo/demo2/base/scripts.bundle.min.js" type="text/javascript"></script>
        <script src="~/assets/app/bundle/app.bundle.min.js" type="text/javascript"></script>
        <script src="~/assets/vendors/custom/datatables/datatables.bundle.min.js" type="text/javascript"></script>*@
    <script src="https://embed.small.chat/T9L4MDZ0FG9KP64YRZ.js" async></script>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var numRegex = /\d+/g;
        var charRegex = /\D+/g;
        $(function () {
			$('input,textarea').on('focusin', function () {
                $(this).data('val', $(this).val());
            });
			
            $(document).tooltip({
                items: '*:not(.ui-dialog-titlebar-close)'
            });

            hideMask();
            $(window).on('beforeunload', function () {
                showMask();
            });

            var pathname, currentLink;
            pathname = window.location.pathname.toLowerCase().match(charRegex);
            $("li[data-ktmenu-submenu-toggle='click']").removeClass("kt-menu__item--open kt-menu__item--here");
            if (pathname.length > 0) {
                if (pathname[0] == "/connector")
                    pathname[0] = "/connector/index/";
                if (pathname[0] == "/home" || pathname[0] == "/home/index" || pathname[0] == "/home/index/")
                    pathname[0] = "/";
                currentLink = $("ul.kt-menu__subnav a:hrefEaquals('" + pathname[0] + "')");
                if (currentLink) {
                    currentLink.closest("li").toggleClass("kt-menu__item--active");
                    currentLink.parents("li[data-ktmenu-submenu-toggle='click']").toggleClass("kt-menu__item--open kt-menu__item--here");
                }
            }

            setTimeout(function () {
                $("iframe").contents().find('body').on("click", "div.Launcher-button", function (e) {
                    setTimeout(function () {
                        if ($("iframe").contents().find("body a").length > 0) {
                            $("iframe").contents().find("body a").remove()
                        }
                    }, 200);
                });
            }, 1000);
        });

        function showMask(isDelay) {
            if (isDelay) {
                setTimeout(function () {
                    document.getElementById("divMask").style.display = "block";
                }, 10);
            }
            else {
                document.getElementById("divMask").style.display = "block";
            }
        }

        function hideMask() {
            document.getElementById("divMask").style.display = "none";
        }

        function doConfirm(msg, yesFn, noFn, yesBtnName) {
            if (window.jQuery) {
                var confirmDialog = $("div[name=dialogConfirm]");
                if (confirmDialog) {
                    //confirmDialog.attr('title', 'Confirmation');
                    var events = {};
                    events[(yesBtnName ? yesBtnName : "Continue")] = yesFn;
                    events["Cancel"] = noFn;
                    confirmDialog.html(msg);
                    confirmDialog.dialog({
                        resizable: false,
                        height: "auto",
                        width: Math.floor($(window).width() / 2),
                        modal: true,
                        buttons: events
                    });
                    $("div.ui-dialog").css({ "z-index": "300002" });
                    confirmDialog.closest("div[role=dialog]").find("button.ui-button").on("click", function (e) {
                        confirmDialog.dialog("close");
                    })
                }
            }
        }

        function showAlert(msg, msgType) {
            if (window.jQuery) {
                var dialogAlert = $("div[name=dialogMessage]");
                if (dialogAlert && dialogAlert.dialog) {
                    if (msgType) {
                        dialogAlert.attr('title', msgType);
                        if (msgType == "Error")
                            msg = "<span class=\"ui-icon ui-icon-alert\" style=\"float:left; margin:12px 12px 20px 0;\"></span><p>" + msg + "</p>";
                        else
                            msg = "<span class=\"ui-icon ui-icon-circle-check\" style=\"float:left; margin:4px 7px 7px 0;\"></span><p>" + msg + "</p>";
                    }
                    dialogAlert.html(msg);
                    dialogAlert.dialog({
                        resizable: false,
                        modal: true,
                        height: "auto",
                        width: Math.floor($(window).width() / 2),
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                    $("div.ui-dialog").css({ "z-index": "300002" });
                }
                else {
                    alert(msg);
                }
            }
        }

        function showErrorMessage(message, isRedColor) {
            var lblElm = document.getElementById("lblMessage");
            if (lblElm && message) {
                lblElm.innerHTML = message || '';
                lblElm.style.color = (isRedColor ? 'red' : 'green');
            }
        }
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#374afb",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };

        $('#kt_header_brand').click(function (e) {
            window.open("https://dedup.softtrends.com");
        });
    </script>
    @Html.Raw(TempData["msg"])
</body>
</html>
