@addTagHelper "Pioneer.Pagination.PioneerPaginationTagHelper, Pioneer.Pagination"
@using Dedup.ViewModels
@using Dedup.Common
@using System.Globalization
@model IEnumerable<dynamic>

@if (ViewBag.connectorConfig != null)
{
    PlanInfos currentPlanFeatures = default(PlanInfos);
    if (ViewBag.CurrentPlan.IsInitialized)
    {
        currentPlanFeatures = (PlanInfos)ViewBag.CurrentPlan;
    }
    ConnectorConfig connectorConfig = ViewBag.connectorConfig as ConnectorConfig;
    int recordCount = 0;
    <div id="tabs">

        <ul>
            <li><a href="#tabs-1">Duplicate Groups</a></li>
            <li><a href="#tabs-2">Unique Records</a></li>
            <li style="margin-top:30px;"><a href="#tabs-3">Duplicate Records</a><i class="fas fa-times fa-lg" style="float:right;cursor:pointer;margin-top:8px;"></i></li>
        </ul>
        <!-- Info boxes -->
        <div class="col-md-12" id="tabs-1">
            <div class="kt-portlet" style="padding:20px;">
                <div class="box-header with-border" style="margin:2px 0px;padding-left:0px;">
                    <div class="col-md-12 no-padding">
                        <h3 class="box-title">
                            @*@Model.Count();*@

                            Viewing Destination '@connectorConfig.destObjectName'

                            @if (ViewData.ContainsKey("count_" + connectorConfig.connectorId.ToString()))
                            {
                                if (ViewData["count_" + connectorConfig.connectorId.ToString()] != null)
                                {
                                    @string.Format("", int.TryParse(ViewData["count_" + connectorConfig.connectorId.ToString()].ToString(), out recordCount))
                                    <span data-rowcount="@ViewData[" count_" + connectorConfig.connectorId.ToString()]" id="totalrecordcount" style="display:none">
                                        @String.Format(CultureInfo.InvariantCulture,
                               "{0:#,#}", ViewData["count_" + connectorConfig.connectorId.ToString()])
                                    </span>
                                    <span id="marked_for_delete_count" style="display:none">@ViewBag.marked_for_delete_count</span>
                                }
                            }
                        </h3>
                    </div>
                    @*@if (connectorConfig.dedupSourceType == SourceType.Remove_Duplicates_from_a_Single_Table || ((connectorConfig.dedupSourceType == SourceType.Copy_Source_data_to_Destination_and_Remove_Duplicates_from_Destination || connectorConfig.dedupSourceType == SourceType.Merge_Table_A_Data_to_Table_B_and_Remove_Duplicates_from_Table_B) && connectorConfig.dedup_type == DedupType.Simulate_and_Verify))
                    {
                        <div class="col-md-4"><span>Deduped Table Name: @connectorConfig.destObjectName</span></div>
                        <div class="col-md-12">
                            @if (connectorConfig.dedupSourceType == SourceType.Remove_Duplicates_from_a_Single_Table)

                            {
                                <span>Result of Remove Duplicates from Source</span><br />
                            }
                            else
                            {
                                <span>Result of @connectorConfig.dedupSourceType</span><br />
                            }
                            <span style="float:right" id="recorddelete"></span><br/>
                            @if (connectorConfig.backup_before_delete == ArchiveRecords.Yes)
                            {
                                <a class="btn btn-brand" href="#" style="float:right;background-color:green;display:none" name="deleteselectedrecord">Archieve & Delete All Selected Items</a>
                            }
                            else
                            {
                                <a class="btn btn-brand" href="#" style="float:right;background-color:red;display:none" name="deleteselectedrecord">Delete Selected All Items</a>

                            }
                        </div>
                    }*@
                    @*else
                    {
                        @if ((connectorConfig.dedupSourceType == SourceType.Copy_Source_data_to_Destination_and_Remove_Duplicates_from_Destination || connectorConfig.dedupSourceType == SourceType.Merge_Table_A_Data_to_Table_B_and_Remove_Duplicates_from_Table_B) && connectorConfig.dedup_type == DedupType.Full_Dedup)
                        {
                            @if (connectorConfig.dbConfig_compare.table_type == SelectedTableType.Create_New_Table)
                            {
                                <div class="col-md-4"><span>Deduped Table Name: @connectorConfig.dbConfig_compare.new_table_name  </span></div>
                            }
                            else
                            {
                                <div class="col-md-4"><span>Deduped Table Name: @connectorConfig.dbConfig_compare.object_name</span></div>
                            }
                        }
                    }*@
                    <div class="col-md-12">
                        <span>Duplicates Record groups</span><br />
                    </div>
                    <div class="col-md-4"><span>Expand each record group and select the records to Delete</span></div>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <p class="header pull-left" style="margin-left:4px;margin-bottom:-5px;cursor: pointer;">
                        <i class="fa fa-angle-left collapse"></i>
                        <i class="fa fa-angle-left collapse" style="margin-top:-10px;"></i>
                    </p>
                </div>
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                            <thead>
                                <tr>
                                    @*<th></th>*@
                                    <th style="width:4% !important"></th>
                                    @foreach (var prop in connectorConfig.sourceObjectFields)
                                    {
                                        <th style="border-bottom: 2px solid #f4f4f4;">
                                            @prop
                                        </th>
                                    }
                                    @*@if (Model != null && Model.Count() > 0)
                                    {
                                        @foreach (var item in (IDictionary<string, object>)Model.ElementAt(0))
                                        {
                                            @if (!connectorConfig.sourceObjectFields.Contains(item.Key))
                                            {
                                                @if (item.Key != "ctid" && item.Key != "myctid" && item.Key != "marked_for_delete")
                                                {
                                                    <th style="border-bottom: 2px solid #f4f4f4;">
                                                        @item.Key
                                                    </th>
                                                }
                                            }
                                        }
                                    }*@

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count() > 0 && !(Model is IEnumerable<ConnectorConfig>))
                                {
                                    @foreach (var row in Model)
                                    {
                                        var dataRow = (IDictionary<string, object>)row;
                                        @if (dataRow != null)
                                        {
                                            <tr>
                                                @*<td><input type="checkbox" name="deleteparentrecord" /></td>*@



                                                @*@Html.ActionLink("View", "GetPGChildRows", "PGRows")*@

                                                @*@await Component.InvokeAsync("PGChildRows", new { id = 2, page = 1})*@




                                                @foreach (var item in dataRow)
                                                {
                                                    @if (item.Key == "myctid")
                                                    {
                                                        @*@if (!connectorConfig.sourceObjectFields.Contains(item.Key) && item.Key != "marked_for_delete")
                                                        {
                                                            <td align="left">
                                                                @item.Value
                                                            </td>
                                                        }*@

                                                        <td>
                                                            @*@Html.ActionLink("+ Dups", "GetDuplicateRows", "connector", new { id = connectorConfig.connectorId, ctid = item.Value }, new { title = "Click to see all duplicate records for this entry where you will be able to select & delete desired duplicate records", @class = "DuplicateGroup" })*@
                                                            <a href="#" class="DuplicateGroup" title="Click to see all duplicate records for this entry where you will be able to select & delete desired duplicate records" onclick="GetChildRecord('@connectorConfig.connectorId','@item.Value')">+ Dups</a>
                                                        </td>
                                                    }
                                                }
                                                @foreach (var prop in connectorConfig.sourceObjectFields)
                                                {
                                                    <td align="left">
                                                        @if (dataRow.ContainsKey(prop) && dataRow[prop] != null)
                                                        {
                                                            if (dataRow[prop].GetType().Name == "String")
                                                            {
                                                                @Convert.ToString(dataRow[prop])
                                                            }
                                                            else
                                                            {
                                                                @dataRow[prop]
                                                            }
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    <tr name="emptyrow">
                                        <td colspan="5" align="center">
                                            @if (recordCount == 0)
                                            {
                                                <span>No rows found!</span>
                                            }
                                            else
                                            {
                                                <span>Loading...</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                        @*@if (@ViewData[connectorConfig.connectorId.ToString()] != null)
                        {
                            <div class="clearfix no-border">
                                <pioneer-pagination info="@ViewData[connectorConfig.connectorId.ToString()] as Pioneer.Pagination.PaginatedMetaModel" route="/connector/getsyncrecordsbypageno" class="pagination" style="float:right;" data-id="@connectorConfig.connectorId"></pioneer-pagination>
                            </div>
                        }*@
                    </div>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>

        <div class="col-md-12" id="tabs-2">
            <div class="kt-portlet" style="padding:20px;">
                <div class="box-header with-border" style="margin:2px 0px;padding-left:0px;">
                    <div class="col-md-12 no-padding">
                        <h3 class="box-title">
                            @*@Model.Count();*@

                            Viewing Destination '@connectorConfig.destObjectName'

                            @if (ViewData.ContainsKey("count_" + connectorConfig.connectorId.ToString()))
                            {
                                if (ViewData["count_" + connectorConfig.connectorId.ToString()] != null)
                                {
                                    @string.Format("", int.TryParse(ViewData["count_" + connectorConfig.connectorId.ToString()].ToString(), out recordCount))
                                    <span data-rowcount="@ViewData[" count_" + connectorConfig.connectorId.ToString()]" id="totalrecordcount" style="display:none">
                                        @String.Format(CultureInfo.InvariantCulture,
                               "{0:#,#}", ViewData["count_" + connectorConfig.connectorId.ToString()])
                                    </span>
                                    <span id="marked_for_delete_count" style="display:none">@ViewBag.marked_for_delete_count</span>
                                }
                            }
                        </h3>
                    </div>
                    @*@if (connectorConfig.dedupSourceType == SourceType.Remove_Duplicates_from_a_Single_Table || ((connectorConfig.dedupSourceType == SourceType.Copy_Source_data_to_Destination_and_Remove_Duplicates_from_Destination || connectorConfig.dedupSourceType == SourceType.Merge_Table_A_Data_to_Table_B_and_Remove_Duplicates_from_Table_B) && connectorConfig.dedup_type == DedupType.Simulate_and_Verify))
                    {
                        <div class="col-md-4"><span>Deduped Table Name: @connectorConfig.destObjectName</span></div>
                        <div class="col-md-12">
                            @if (connectorConfig.dedupSourceType == SourceType.Remove_Duplicates_from_a_Single_Table)

                            {
                                <span>Result of Remove Duplicates from Source</span><br />
                            }
                            else
                            {
                                <span>Result of @connectorConfig.dedupSourceType</span><br />
                            }
                            <span style="float:right" id="recorddelete"></span><br/>
                            @if (connectorConfig.backup_before_delete == ArchiveRecords.Yes)
                            {
                                <a class="btn btn-brand" href="#" style="float:right;background-color:green;display:none" name="deleteselectedrecord">Archieve & Delete All Selected Items</a>
                            }
                            else
                            {
                                <a class="btn btn-brand" href="#" style="float:right;background-color:red;display:none" name="deleteselectedrecord">Delete Selected All Items</a>

                            }
                        </div>
                    }*@
                    @*else
                    {
                        @if ((connectorConfig.dedupSourceType == SourceType.Copy_Source_data_to_Destination_and_Remove_Duplicates_from_Destination || connectorConfig.dedupSourceType == SourceType.Merge_Table_A_Data_to_Table_B_and_Remove_Duplicates_from_Table_B) && connectorConfig.dedup_type == DedupType.Full_Dedup)
                        {
                            @if (connectorConfig.dbConfig_compare.table_type == SelectedTableType.Create_New_Table)
                            {
                                <div class="col-md-4"><span>Deduped Table Name: @connectorConfig.dbConfig_compare.new_table_name  </span></div>
                            }
                            else
                            {
                                <div class="col-md-4"><span>Deduped Table Name: @connectorConfig.dbConfig_compare.object_name</span></div>
                            }
                        }
                    }*@
                    <div class="col-md-6" style="float:right">
                        <span id="deleteuniquerecord" style="float:right">Records selected for delete: 0</span><br />

                        @if (connectorConfig.backup_before_delete == ArchiveRecords.Yes)
                        {
                            <a class="btn btn-brand" href="#" style="float:right;background-color:green;opacity:0.1;cursor:none;color:white" name="deleteselectedrecord">Archieve & Delete All Selected Items</a>

                        }
                        else
                        {

                            <a class="btn btn-brand" href="#" style="float:right;background-color:red;opacity:0.1;cursor:none;color:white" name="deleteselectedrecord">Delete Selected All Items</a>

                        }
                    </div>
                    <div class="col-md-6">
                        <span>Records with no duplicates</span>
                    </div>

                    <div class="col-md-6"><span>Select and Delete the records you want</span></div>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <p class="header pull-left" style="margin-left:4px;margin-bottom:-5px;cursor: pointer;">
                        <i class="fa fa-angle-left collapse"></i>
                        <i class="fa fa-angle-left collapse" style="margin-top:-10px;"></i>
                    </p>
                </div>
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_2">
                            <thead>
                                <tr>
                                    @*<th></th>*@
                                    <th style="width:4% !important"></th>


                                    @foreach (var prop in connectorConfig.sourceObjectFields)
                                    {
                                        <th style="border-bottom: 2px solid #f4f4f4;">
                                            @prop
                                        </th>

                                    }
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        @foreach (var item in (IDictionary<string, object>)Model.ElementAt(0))
                                        {
                                            @if (!connectorConfig.sourceObjectFields.Contains(item.Key))
                                            {
                                                @if (item.Key != "ctid" && item.Key != "myctid" && item.Key != "marked_for_delete")
                                                {
                                                    <th style="border-bottom: 2px solid #f4f4f4;">
                                                        @item.Key
                                                    </th>

                                                }
                                            }
                                        }
                                    }

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count() > 0 && !(Model is IEnumerable<ConnectorConfig>))
                                {
                                    @foreach (var row in Model)
                                    {
                                        var dataRow = (IDictionary<string, object>)row;
                                        @if (dataRow != null)
                                        {
                                            <tr>
                                                @*<td><input type="checkbox" name="deleteparentrecord" /></td>*@



                                                @*@Html.ActionLink("View", "GetPGChildRows", "PGRows")*@

                                                @*@await Component.InvokeAsync("PGChildRows", new { id = 2, page = 1})*@




                                                @foreach (var item in dataRow)
                                                {
                                                    @if (item.Key == "myctid")
                                                    {
                                                        @*@if (!connectorConfig.sourceObjectFields.Contains(item.Key) && item.Key != "marked_for_delete")
                                                        {
                                                            <td align="left">
                                                                @item.Value
                                                            </td>
                                                        }*@

                                                        <td>
                                                            @*@Html.ActionLink("+ Dups", "GetDuplicateRows", "connector", new { id = connectorConfig.connectorId, ctid = item.Value }, new { title = "Click to see all duplicate records for this entry where you will be able to select & delete desired duplicate records" })*@
                                                            <input type="checkbox" name="deleterecord" />

                                                            <span style="display:none">@item.Value</span>
                                                        </td>

                                                    }



                                                }
                                                @foreach (var prop in connectorConfig.sourceObjectFields)
                                                {
                                                    <td align="left">
                                                        @if (dataRow.ContainsKey(prop) && dataRow[prop] != null)
                                                        {
                                                            if (dataRow[prop].GetType().Name == "String")
                                                            {
                                                                @Convert.ToString(dataRow[prop])
                                                            }
                                                            else
                                                            {
                                                                @dataRow[prop]
                                                            }
                                                        }
                                                    </td>
                                                }
                                                @foreach (var item in dataRow)

                                                {
                                                    @if (!connectorConfig.sourceObjectFields.Contains(item.Key) && item.Key != "marked_for_delete" && item.Key != "myctid")
                                                    {
                                                        <td align="left">
                                                            @item.Value
                                                        </td>

                                                    }



                                                }
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    <tr name="emptyrow">
                                        <td colspan="5" align="center">
                                            @if (recordCount == 0)
                                            {
                                                <span>No rows found!</span>
                                            }
                                            else
                                            {
                                                <span>Loading...</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                        @*@if (@ViewData[connectorConfig.connectorId.ToString()] != null)
                        {
                            <div class="clearfix no-border">
                                <pioneer-pagination info="@ViewData[connectorConfig.connectorId.ToString()] as Pioneer.Pagination.PaginatedMetaModel" route="/connector/getsyncrecordsbypageno" class="pagination" style="float:right;" data-id="@connectorConfig.connectorId"></pioneer-pagination>
                            </div>
                        }*@
                    </div>
                </div>

                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-md-12" id="tabs-3">
            <div class="kt-portlet" style="padding:20px;">
                <div class="box-header with-border" style="margin:2px 0px;padding-left:0px;">
                    <div class="col-md-12 no-padding">
                        <h3 class="box-title">
                            @*@Model.Count();*@
                            @*Process Name: @connectorConfig.connectorName*@
                            Showing duplicate records in selected group
                            @*@if (ViewData.ContainsKey("count_" + connectorConfig.connectorId.ToString()))
                      {
                          if (ViewData["count_" + connectorConfig.connectorId.ToString()] != null)
                          {
                              @string.Format("", int.TryParse(ViewData["count_" + connectorConfig.connectorId.ToString()].ToString(), out recordCount))
                              <span data-rowcount="@ViewData[" count_" + connectorConfig.connectorId.ToString()]">
                                  (@String.Format(CultureInfo.InvariantCulture,
            "{0:#,#}", ViewData["count_" + connectorConfig.connectorId.ToString()]))
                              </span>
                          }
                      }*@
                        </h3>
                    </div>
                    @if (Model != null && Model.Count() > 0)
                    {
                        <div class="col-md-6" style="float:right">
                            <span id="connectorid" style="display:none">@connectorConfig.connectorId</span>
                            <span id="deleteduplicaterecord" style="float:right">Records selected for delete: 0</span><br />

                            @if (connectorConfig.backup_before_delete == ArchiveRecords.Yes)
                            {
                                <a class="btn btn-brand" href="#" style="float:right;background-color:green;opacity:0.1;cursor:none;color:white" name="deleteduplicateselectedrecord">Archieve & Delete All Selected Items</a>

                            }
                            else
                            {

                                <a class="btn btn-brand" href="#" style="float:right;background-color:red;opacity:0.1;cursor:none;color:white" name="deleteduplicateselectedrecord">Delete Selected All Items</a>

                            }
                        </div>
                    }
                    
                    @*@if (connectorConfig.dedupSourceType == SourceType.Remove_Duplicates_from_a_Single_Table || ((connectorConfig.dedupSourceType == SourceType.Copy_Source_data_to_Destination_and_Remove_Duplicates_from_Destination || connectorConfig.dedupSourceType == SourceType.Merge_Table_A_Data_to_Table_B_and_Remove_Duplicates_from_Table_B) && connectorConfig.dedup_type == DedupType.Simulate_and_Verify))
                {
                    <div class="col-md-4"><span>Deduped Table Name: @connectorConfig.destObjectName</span></div>
                }
                else
                {
                    @if ((connectorConfig.dedupSourceType == SourceType.Copy_Source_data_to_Destination_and_Remove_Duplicates_from_Destination || connectorConfig.dedupSourceType == SourceType.Merge_Table_A_Data_to_Table_B_and_Remove_Duplicates_from_Table_B) && connectorConfig.dedup_type == DedupType.Full_Dedup)
                    {
                        @if (connectorConfig.dbConfig_compare.table_type == SelectedTableType.Create_New_Table)
                        {
                            <div class="col-md-4"><span>Deduped Table Name: @connectorConfig.dbConfig_compare.new_table_name  </span></div>
                        }
                        else
                        {
                            <div class="col-md-4"><span>Deduped Table Name: @connectorConfig.dbConfig_compare.object_name</span></div>
                        }
                    }
                }*@
                    <div class="col-md-6">
                        <span>You can pick and delete duplicate records</span><br />
                        <span>To delete designated Golden record (highlighted), designate a duplicate record as Golden record, and then you can delete it</span>
                    </div>

                </div>
                @*<div style="margin-top:10px;"><a href="#" id="Backbtn"><i class="fa fa-angle-left"></i>Back</a></div>*@

                @if (Model != null && Model.Count() > 0)
                {
                    <!-- /.box-header -->
                    <div class="box-body table-responsive" style="margin-top:15px;">
                        <p class="header pull-left" style="margin-left:4px;margin-bottom:-5px;cursor: pointer;">
                            <i class="fa fa-angle-left collapse"></i>
                            <i class="fa fa-angle-left collapse" style="margin-top:-10px;"></i>
                        </p>
                    </div>
                    <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                        <div class="kt-portlet__body kt-portlet__body--fit">
                            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_3">

                                <thead>

                                    <tr>
                                        <th class="no-sort"></th>
                                        <th></th>
                                        @foreach (var prop in connectorConfig.sourceObjectFields)
                                        {
                                            <th style="border-bottom: 2px solid #f4f4f4;">
                                                @prop
                                            </th>
                                        }
                                        @if (Model != null && Model.Count() > 0)
                                        {
                                            @foreach (var item in (IDictionary<string, object>)Model.ElementAt(0))
                                            {
                                                @if (!connectorConfig.sourceObjectFields.Contains(item.Key) && item.Key != "myctid" && item.Key != "marked_for_delete" && item.Key != "parentctid")
                                                {
                                                    <th style="border-bottom: 2px solid #f4f4f4;">
                                                        @item.Key
                                                    </th>
                                                }
                                            }
                                        }
                                        <th style="display:none"></th>

                                    </tr>
                                    @*<tr>
                                    <th class="no-sort">
                                        <input type="checkbox" name="deletechildrecord" />
                                    </th>
                                    @foreach (var prop in connectorConfig.sourceObjectFields)
                                    {
                                        <th style="border-bottom: 2px solid #f4f4f4;">
                                            @prop
                                        </th>
                                    }
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        @foreach (var item in (IDictionary<string, object>)Model.ElementAt(0))
                                        {
                                            @if (!connectorConfig.sourceObjectFields.Contains(item.Key) && item.Key != "myctid" && item.Key != "marked_for_delete" && item.Key != "parentctid")
                                            {
                                                <th style="border-bottom: 2px solid #f4f4f4;">
                                                    @item.Value
                                                </th>
                                            }
                                        }
                                    }
                                    <th style="display:none"></th>

                                </tr>*@
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count() > 0 && !(Model is IEnumerable<ConnectorConfig>))
                                    {
                                        @foreach (var row in Model)
                                        {
                                            var dataRow = (IDictionary<string, object>)row;
                                            @if (dataRow != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="deletechildrecord" />
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-check" aria-hidden="true" name="selectnewParent" title="Select to make this record the designated golden record"></i>
                                                        <span style="display:none">@dataRow["myctid"]</span>

                                                    </td>
                                                    @foreach (var prop in connectorConfig.sourceObjectFields)
                                                    {
                                                        <td align="left">
                                                            @if (dataRow.ContainsKey(prop) && dataRow[prop] != null)
                                                            {
                                                                if (dataRow[prop].GetType().Name == "String")
                                                                {
                                                                    @Convert.ToString(dataRow[prop])
                                                                }
                                                                else
                                                                {
                                                                    @dataRow[prop]
                                                                }
                                                            }
                                                        </td>
                                                    }


                                                    @foreach (var item in dataRow)

                                                    {
                                                        @if (!connectorConfig.sourceObjectFields.Contains(item.Key) && item.Key != "marked_for_delete" && item.Key != "myctid" && item.Key != "parentctid")
                                                        {
                                                            <td align="left">
                                                                @item.Value
                                                            </td>
                                                        }
                                                        @if (item.Key == "myctid")
                                                        {
                                                            <td align="left" style="display:none">
                                                                @item.Value
                                                            </td>
                                                        }


                                                    }

                                                </tr>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <tr name="emptyrow">
                                            <td colspan="5" align="center">
                                                @if (recordCount == 0)
                                                {
                                                    <span>No rows found!</span>
                                                }
                                                else
                                                {
                                                    <span>Loading...</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                            @if (@ViewData[connectorConfig.connectorId.ToString()] != null)
                            {
                                <div class="clearfix no-border">
                                    <pioneer-pagination info="@ViewData[connectorConfig.connectorId.ToString()] as Pioneer.Pagination.PaginatedMetaModel" route="/connector/getsyncrecordsbypageno" class="pagination" style="float:right;" data-id="@connectorConfig.connectorId"></pioneer-pagination>
                                </div>
                            }
                        </div>
                        @*<div><a href="#" id="deleterecords" class="btn btn-brand">Delete</a></div>*@
                    </div>

                    <!-- /.box-body -->
                }
                else
                {
                    <span style="color:red">No Duplicates found</span>
                }
            </div>

        </div>
        </div>
        }

